<!DOCTYPE html>
<html>
  <head>
    <title>GoogleCalendarEvents</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main>
      <div class="w-full h-[50px] bg-yellow-800 text-white text-[16px] flex justify-between items-center px-6">
        <span>Google Calendar Events</span>        
        <% if user_signed_in? %>
          <span class="text-white text-[12px]"><%= current_user.email %></span>
        <% else %>
          <%= link_to 'Sign In', 
              new_user_session_path, 
              class: "bg-blue-400 text-white py-[2px] px-[10px] rounded-lg shadow" %>
        <% end %>
      </div>
      <div class="px-[20%]">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <%= yield %>
      </div>
    </main>
  </body>
</html>
